In [1]:
#Importação das bibliotecas
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Conexão com o banco de dados
engine = create_engine("postgresql+psycopg2://postgres:postgres@192.168.1.12/postgres",connect_args={'options': '-csearch_path={}'.format('enem')})

engine.execute("""ALTER TABLE enem.tb_enem
ADD COLUMN nota_final numeric
""")

engine.execute(
"""UPDATE enem.tb_enem
SET nota_final = nu_nota_cn + nu_nota_ch + nu_nota_lc + nu_nota_mt+ nu_nota_redacao
""")
engine.execute(
"""
ALTER TABLE enem.tb_enem
ADD COLUMN presenca numeric
""")

engine.execute(
"""
UPDATE enem.tb_enem
SET presenca = tp_presenca_cn+tp_presenca_ch+tp_presenca_lc+tp_presenca_mt;
""")

# Indicadores

Qual a escola com a maior média de notas?

In [3]:
escola_maior_media = pd.DataFrame(data=engine.execute(
    """
    SELECT co_municipio_esc, no_municipio_esc, co_uf_esc, sg_uf_esc, tp_dependencia_adm_esc, tp_localizacao_esc, tp_sit_func_esc, avg(nota_final) media
    FROM enem.tb_enem
    GROUP BY co_municipio_esc, no_municipio_esc, co_uf_esc, sg_uf_esc,  tp_dependencia_adm_esc, tp_localizacao_esc, tp_sit_func_esc
    ORDER BY media DESC NULLS LAST
    LIMIT 1
    """),columns=['CO_MUNICIPIO_ESC','NO_MUNICIPIO_ESC','CO_UF_ESC','SG_UF_ESC','TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','TP_SIT_FUNC_ESC','MEDIA'])

escola_maior_media

,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,MEDIA
0,1504208,Marabс,15,PA,4,1,4,3853.5000000000000000

Qual o aluno com a maior média de notas e o valor dessa média?

In [4]:
aluno_maior_media = pd.DataFrame(data=engine.execute(
    """
    SELECT nu_inscricao,(nota_final/5) media
    FROM enem.tb_enem
    WHERE nota_final IS NOT NULL
    ORDER BY media DESC 
    LIMIT 1
    """
),columns=['NU_INSCRICAO','MEDIA'])

aluno_maior_media

   NU_INSCRICAO                 MEDIA
0  200005996961  858.5800000000000000

Qual a média geral?

In [5]:
media_geral = pd.DataFrame(data= engine.execute("""
SELECT avg(nota_final) media_geral
FROM enem.tb_enem
"""),columns=['media_geral'])

media_geral

             media_geral
0  2632.9034013847206357

Qual o número total de Inscritos?

In [6]:
total_inscritos = pd.DataFrame(data=engine.execute(
    """
    SELECT COUNT(DISTINCT nu_inscricao)
    FROM enem.tb_enem
    """
    ),columns=['total_inscritos'])

total_inscritos

   total_inscritos
0          5783109

Qual o % de Ausentes?

In [7]:
ausentes = pd.DataFrame(data=engine.execute(
    """
    SELECT COUNT(DISTINCT presenca) ausentes
    FROM enem.tb_enem
    WHERE presenca = 0
    """
),columns=['ausentes'])

a = ausentes['ausentes'][0]
b = total_inscritos['total_inscritos'][0]

'Porcentagem de ausentes = {0}%'.format(a/b)

'Porcentagem de ausentes = 1.7291737022421677e-07%'

Qual a média por disciplina?

In [8]:
media_disciplina = pd.DataFrame(data=engine.execute(
"""
SELECT avg(nu_nota_ch) ch,
       avg(nu_nota_mt) mt,
       avg(nu_nota_lc) lc,
       avg(nu_nota_cn) cn,
       avg(nu_nota_redacao) redacao
FROM enem.tb_enem
"""
),columns=['Ciências Humanas','Matemática','Linguagens e Códigos','Ciências da Natureza','Redação'])

media_disciplina

,Ciências Humanas,Matemática,Linguagens e Códigos,Ciências da Natureza,Redação
0,511.1522016309991504,520.5783348219785635,523.8009359364447704,490.4097924879881730,573.4127241171472765

Qual a média por Sexo?

In [9]:
media_sexo = pd.DataFrame(data=engine.execute(
    """
    SELECT tp_sexo,avg(nota_final)
    FROM enem.tb_enem
    GROUP BY tp_sexo
    """
    
),columns=['sexo','média'])

media_sexo

  sexo                  média
0    F  2606.2245560406917677
1    M  2673.6274429794169603

Qual a média por Etnia?

In [10]:
media_etnia = pd.DataFrame(data=engine.execute(
    """
    SELECT b.no_raca,avg(nota_final)
    FROM enem.tb_enem a LEFT JOIN enem.tb_raca b
    on a.tp_cor_raca = b.co_raca
    GROUP BY b.no_raca
    """  
),columns=['ETNIA','média'])

media_etnia

           ETNIA                  média
0        Amarela  2624.6921930755974865
1         Branca  2782.6336106989389826
2       Indígena  2364.2183387039026137
3  Não declarado  2670.2516980000000000
4          Parda  2543.2875084984491132
5          Preta  2504.3415099819670300